@media (min-width: 770px) {
    body {
	width: 45%;
	margin:auto;
    }

    /* index.html styles */
    main#content ul#posts {
	font-size: 1.15em;
    }

    main#content figure {
	margin-left: -3.8%;
    }

    main#content pre {
	width: 108%;
	margin-left: -3.8%;
	padding: 1.5rem 2.2rem;
    }

    header#banner nav ul {
	margin: 0;
	padding: 0;
    }

    header#banner nav ul li {
	display: inline;

    }

}

